{{#with circle}}
<h1 class="text-xl">{{name}}</h1>
<p>{{description}}</p>
{{#ifEqual ../role "owner"}}
<span>You Own This Circle</span>
<a href="{{id}}/delete">Delete this circle</a>
<br>
<span>Circle Members:</span>
<ul>
  {{#each ../members}}
  <li class="border-l-3 mb-2 pl-2">Username: {{this.username}} <br> Role: {{this.role}}</li>
  {{/each}}
</ul>
{{else}}
<span>Owner: {{ownerUsername}}</span>
{{/ifEqual}}
{{/with}}

<ol class="flex flex-col gap-4 py-4">
  {{#each circlePosts}}
  <li class="shadow-md p-2">
    <ul>
      <li>Title: {{this.title}} </li>
      <li>Body: {{this.body}}</li>
      <li>Author: {{this.authorUsername}}</li>
    </ul>
    <a href="/posts/{{this.id}}/delete">Delete Post</a>
  </li>
  {{/each}}
</ol>