<section class="py-8">
    <div class="wrapper">

        <h1 class="section-heading">{{title}}</h1>

        <div class="max-w-xs">


            {{#if errors}}
            {{#if errors.length}}
            <ul class="mb-4 text-red-600">

                {{#each errors}}
                <li>{{this.msg}}</li>
                {{/each}}

            </ul>
            {{/if}}
            {{/if}}

            <form method="POST"
                  action=""
                  class="flex flex-col gap-2">
                <label for="title">
                    Title:
                    <input type="text"
                           name="title"
                           id="title"
                           class="border p-2 w-full rounded"
                           value="{{formData.title}}" />
                </label>
                <div class="self-start">
                    <label class="block">Circle</label>
                    <select name="circleId"
                            class="border p-2 w-full rounded">

                        {{#each userCircles}}
                        <option value="{{id}}"
                                {{isSelected
                                ../formData.genre_id
                                id}}>
                            {{name}}
                        </option>
                        {{/each}}

                    </select>
                </div>
                <div class="self-start">
                    <label class="block">Visibility</label>
                    <select name="visibility"
                            class="border p-2 w-full rounded">
                        <option value="public"
                                {{isSelected
                                formData.visibility "public"
                                }}>
                            Public</option>
                        <option value="members_only"
                                {{isSelected
                                formData.visibility "members_only"
                                }}>Members Only</option>
                    </select>
                </div>
                <label for="body">
                    Body:
                    <textarea type="text"
                              name="body"
                              id="body"
                              class="border p-2 w-full rounded">{{formData.body}}</textarea>
                </label>

                <button type="submit"
                        class="btn-lg self-start mt-2">Create Post</button>
            </form>


        </div>
    </div>
</section>